{% extends "layout.html" %}
{% block body %}
  <h2>Register</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('register') }}" method=post>
    <dl>
      <dt>Username:
      <dd><input type=text name=username value="FFF">
      <dt>Password:
      <dd><input type=password name=password value="123456">
      <dt>SSN:
      <dd><input type=password name=ssn value="888888888">
      <dt>Fisrt Name:
      <dd><input type=text name=fname value="">
      <dt>Middle Name:
      <dd><input type=text name=minit value="">
      <dt>Last Name:
      <dd><input type=text name=lname value="EEE">
      <dt>Birth Day:
      <dd><input type=text name=bdate value="2000-01-01">
      <dt>Email:
      <dd><input type=text name=email value="example@gmail.com">
      <dt>Address:
      <dd><textarea name=address rows=5 cols=40 >0000 1111th Ave, San Francisco, CA, 00000</textarea>
      <dt>Phone:
      <dd><textarea name=phone rows=5 cols=40>123-456-7890</textarea>
      <dd><input type=submit value=Register>
    </dl>
  </form>
{% endblock %}